body {
  // Background
  background: $body-bg url("/assets/img/background.jpg");
  @include background-size(cover);
  overflow: hidden;
}

.hide {
  display: none !important;
}

#root>div:first-of-type {
  display: grid;
  grid-template-columns: 85% 15%;
  grid-template-rows: 100vh;
}

.sidebar-left {
  display: none;
  text-align: center;
}

footer .socials {
  display: none;
}

@media (min-width: 768px) {
  #root>div:first-of-type {
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 85vh 15vh;
  }

  .sidebar-left, footer .socials {
    display: block;
  } 
}
