body {
  @include background-size(cover);
  background: $body-bg;
  @include linear-gradient($body-gradient);
  overflow: hidden;
}

.hide {
  display: none !important;
}

#root>div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sidebar-left {
  width: 20vw;
  text-align: center;
}

main {
  padding-left: 5vw;
  width: 80vw;
}

.sidebar-right {
  width: 15vw;
}

footer {
  width: 100vw;
  height: 15vh;
  position: absolute;
  bottom: 0;
  left: 0;
}

aside, main {
  height: 100vh;
}

.sidebar-left, footer {
  display: none;
}

@media (min-width: 768px) {
  .sidebar-left, footer {
    display: block;
  }

  main {
    width: 60vw;
  }

  .sidebar-right {
    width: 20vw;
  }
}
