// Layout 1 : One column
main > div:first-of-type {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100vh;
  align-items: center;
}

// Layout 2 : Two columns
main > div:first-of-type.two-columns {
  align-items: stretch;
  grid-template-columns: 100%;
  grid-template-rows: 50vh 50vh;

  section:first-of-type {
    align-self: flex-end;
  }
}

// Layout 3 : Two columns with title in the middle
main > div:first-of-type.two-columns.middle-title {
  grid-template-rows: 20vh 40vh 40vh;

  > h1 {
    align-self: flex-end;
  }

  section:first-of-type {
    align-self: stretch;
  }
}

@media (min-width: 1023px) {
  // Layout 1
  main > div:first-of-type {
    height: 50vh;
    margin-top: 25vh;
    align-items: stretch;
  }

  // Layout 2
  main > div:first-of-type.two-columns {
    grid-template-columns: 50% 50%;
    grid-template-rows: 50vh;

    section:first-of-type {
      align-self: stretch;
    }

    section:nth-child(2) {
      align-self: center;
    }
  }

  // Layout 3
  main > div:first-of-type.two-columns.middle-title {
    grid-template-columns: 50% 50%;
    grid-template-rows: 10vh 40vh;

    > h1 {
      align-self: stretch;
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
}
