// Layout 1 : One column
main > div:first-of-type {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80vh;
  padding: 5vw;
}

// Layout 2 : Two columns
main > div:first-of-type.two-columns {
  grid-template-columns: 100%;
  grid-template-rows: 50vh 50vh;
  margin-top: 5vw;

  section:first-of-type {
    align-self: flex-end;
  }
}

// Layout 3 : Two columns with title in the middle
main > div:first-of-type.two-columns.middle-title {
  grid-template-rows: 10vh 40vh 40vh;

  > h1 {
    align-self: flex-end;
    height: 1.2em;
  }

  section:first-of-type {
    align-self: stretch;
  }
}

@media (min-width: 1023px) {
  // Layout 1
  main > div:first-of-type {
    grid-template-rows: 60vh;
    margin-top: 20vh;
    padding: 0;
  }

  // Layout 2
  main > div:first-of-type.two-columns {
    grid-template-columns: 50% 50%;
    grid-template-rows: 60vh;
    margin-top: 20vh;

    section:first-of-type {
      align-self: stretch;
    }

    section:nth-child(2) {
      align-self: center;
    }
  }

  // Layout 3
  main > div:first-of-type.two-columns.middle-title {
    grid-template-columns: 50% 50%;
    grid-template-rows: 10vh 50vh;

    > h1 {
      align-self: stretch;
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
}
