.btn {
  background: $btn-bg;
  cursor: pointer;
  color: $font-primary;
  position: absolute;
  z-index: 999;
  border-radius: 50%;
  width: 5vh;
  height: 5vh;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0;
  padding: 2.5vh !important;
}

.btn-menu {
  top: 3vh;
  right: 2vh;
}

.btn-exit {
  color: $font-dark;
}

.btn-previous {
  bottom: 12vh;
  right: 2vh;
}

.btn-next {
  bottom: 4vh;
  right: 2vh;
}

.btn-modal {
  z-index: 998;
}

.filters {
  display: flex;
}

.btn-small {
  position: static;
  background-color: rgba(255, 255, 255, 0);
  height: 4vh;
  width: auto;
  border-radius: 2em;
  font-size: .8em;
  padding: 0 2em !important;
  border: 1px solid #fff;
}

.btn-small:not(:first-of-type) {
  margin-left: 10px;
}

@media (min-width: 1023px) {
  .btn-menu, .btn-previous, .btn-next {
    right: 8.5vw;
  }

  .btn-menu {
    top: 3vh;
  }

  .btn-previous {
    bottom: 10vh;
  }
}
