.btn {
  background: $btn-bg;
  cursor: pointer;
  color: $font-primary;
  position: absolute;
  z-index: 999;
  border-radius: 50%;
  width: 4vh;
  height: 4vh;
  line-height: 0;
  border: 0;
  padding: 0 !important;
}

.btn-menu {
  top: 3vh;
  right: 3vh;
}

.btn-exit {
  color: $font-dark;
}

.btn-previous {
  bottom: 10vh;
  right: 4vw;
}

.btn-next {
  bottom: 4vh;
  right: 4vw;
}
