.btn {
  background: $btn-bg;
  cursor: pointer;
  color: $font-primary;
  position: absolute;
  z-index: 999;
  border-radius: 50%;
  width: 4vh;
  height: 4vh;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0;
  padding: 2.5vh !important;
}

.btn-menu {
  top: 3vh;
  right: 2vh;
}

.btn-exit {
  color: $font-dark;
}

.btn-previous {
  bottom: 10vh;
  right: 8.5vw;
}

.btn-next {
  bottom: 4vh;
  right: 8.5vw;
}

@media (min-width: 768px) {
  .btn-menu {
    right: 8.5vw;
  }
}
