.icon {
  width: 5em;
  height: 5em;
  display: flex;
  background-color: $font-primary;
  margin: 1em;
  border-radius: 1.5em;

  img {
    width: 5em;
    height: auto;
    border-radius: inherit;
  }
}
