.backdrop {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #00000085;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 80vw;
  height: 90vh;
  margin: auto;
  padding: 0 2em;
  background-color: $body-bg;
  border-radius: 3vh;
  display: grid;
  grid-template-columns: calc(80vw - 3vh) 7vh;
  grid-template-rows: 7vh 83vh;
  justify-items: center;
  align-items: center;

  button {
    grid-column-start: 2;
    grid-row-end: 2;
    background: none;
    font-size: 1.7em;
    margin-top: 1vh;
    margin-left: -1vh;
  }
  
  >div {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 75%;
    text-align: center;
  }
  
  img {
    height: 20vh;
    width: auto;
  }

  img.big {
    height: 10vh;
    width: auto;
  }
}

@media (min-width: 1023px) {
  .modal {
    width: 40vw;
    height: 60vh;
    grid-template-columns: calc(40vw - 3vh) 7vh;
    grid-template-rows: 7vh 53vh;
  }
}
