.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .avatar img {
    border-radius: 50%;
    height: 15vh;
    position: relative;
    z-index: -2;
    border: 2px solid $font-primary;
  }

  section {
    width: 100%;

    > form {
      text-align: center;
    }

    > div {
      width: 100% !important;
      text-align: center;
    }
  }

  iframe {
    width: 100%;
    height: 20em;
  }

  a {
    color: $font-active;
    font-size: .9em;
  }
}

@media (min-width: 1023px) {
  .contact {
    .avatar img {
      height: 20vh;
    }

    section > div, form {
      width: 100%;
    }
  }
}
