.experience {
  section {
    padding: 1.5em;
  }

  section > article {
    background: #33333F;
    border-radius: .9em;
    padding: .5em 1.5em;
  }

  h2 > i {
    padding-right: 1vw;
  }

  .modals-list {
    list-style-type: circle;
  }

  // Dots
  .modals-list > li::marker {
    font-size: 2em;
  }

  .modals-list > li > button {
    position: relative;
    left: 1.5em;
    top: -.25em;
    border-radius: .5em;
    height: 2.25em;
    width: 85%;
    background: #282834;
    padding: .5em 1em;
    align-items: flex-start;
  }

  .modals-list > li {
    margin-top: 1.5em;
  }

  // Lines
  .modals-list > li:before {
    content: "";
    position: absolute;
    font-size: 1.5em;
    margin-left: -23px;
    margin-top: 1.2em;
    border-left: 1px solid #fff;
    height: 2.1em;
  }

  .modals-list > li:last-child::before {
    height: .5em;
  }
}
