.experience {
  .modals-list {
    list-style-type: circle;
    margin-top: 4em;
  }

  .modals-list > li::marker {
    font-size: 2em;
  }

  .modals-list > li > button {
    position: relative;
    left: 1.5em;
    top: -.25em;
    border-radius: .5em;
    height: 2.25em;
    width: 40%;
    background: #282834;
    padding: .5em 1em;
  }

  .modals-list > li {
    margin-top: 1.5em;
  }

  /* Line */
  .modals-list > li:before {
    content:"";
    position: absolute;
    font-size: 1.5em;
    margin-left: -.95em;
    margin-top: 1.2em;
    border-left: 1px solid #fff;
    height: 2.1em;
  }

  .modals-list > li:last-child::before {
    height: .5em;
  }
}
