.skills {
  .filters, .results {
    display: flex;
    flex-wrap: wrap;
  }

  .filters {
    gap: 1vw;
  }
}

@media (min-width: 1023px) {
  .skills {
    .filters {
      gap: normal;
    }

    .soft-skills {
      width: 60%;
    }
  }
}
