html {
  font-size: 1.7vh;
}

body {
  font-size: 1rem;
  color: $font-primary;
}

// Links
a {
  color: $font-primary;
  text-decoration: none;
}

a:hover {
  color: $font-primary;
}

// Navigation
nav a {
  font-size: 1.6em;
  color: $font-dark;
  text-transform: lowercase;
}

// Footer
footer a {
  text-transform: lowercase;
}
