html {
  font-size: 1.7vh;
}

body {
  font-size: 1rem;
  color: $font-primary;
}

// Links
a {
  color: $font-primary;
  text-decoration: none;
}

a:hover {
  color: $font-primary;
}

a.active {
  color: $font-active;
}

// Titles
h1 {
  position: relative;
  text-transform: lowercase;
  font-size: 3em;
}

h1:after {
  content: "";
  position: absolute;
  top: 60%;
  left: 10%;
  z-index: -1;
  width: 50%;
  height: 70%;
  background-image: url("/assets/img/dots.svg");
  background-size: 10px 10px;
  opacity: .2;
}

// Navigation
nav a {
  font-size: 1.6em;
  color: $font-dark;
  text-transform: lowercase;
}

// Page number
.circle {
  font-weight: bold;
}

// White spaced content
.white-space {
  white-space: pre-line;
}

// Footer
footer a {
  color: $font-dark;
  text-transform: lowercase;
  font-weight: 600;
}
